                                body {
                                    margin: 0%;
                                    background-color: #f7f7f7;
                                }
                                
                                .heading {
                                    color: grey;
                                }
                                
                                .picc img {
                                    height: 650px;
                                    width: 480px;
                                }
                                
                                .form-div {
                                    display: flex;
                                }
                                
                                .details {
                                    margin-top: 45px;
                                }
                                
                                .inputs {
                                    border: 2px solid grey;
                                    border-radius: 9px;
                                    height: 40px;
                                    width: 50%;
                                }
                                
                                .usermail {
                                    margin-top: 20px;
                                }
                                
                                h4 {
                                    margin-top: 20px;
                                    font-weight: bold;
                                }
                                
                                .inputmail {
                                    border: 2px solid grey;
                                    border-radius: 9px;
                                    width: 50%;
                                    height: 40px;
                                }
                                
                                .submitbtn {
                                    background-color: #0d0c22;
                                    color: white;
                                    margin-top: 20px;
                                    width: 15%;
                                    height: 50px;
                                    border-radius: 15px;
                                    transition-duration: 0.4s;
                                    cursor: pointer;
                                }
                                
                                button:hover {
                                    background-color: #565564;
                                    color: white;
                                    border: 1px solid #565564;
                                }
                                /* Responsive Styles */
                                
                                @media only screen and (max-width: 767px) {
                                    .form-div {
                                        flex-direction: column;
                                    }
                                    .heading {
                                        color: #0d0c22;
                                        margin-left: 35px;
                                    }
                                    .picc img {
                                        height: auto;
                                        width: 100%;
                                    }
                                    .details {
                                        margin-top: -654px;
                                        z-index: 2;
                                        background-color: transparent;
                                        backdrop-filter: blur(10px);
                                        width: 82%;
                                        border-radius: 20px;
                                        min-height: 596px;
                                        margin-left: 49px;
                                    }
                                    .inputs {
                                        border: 2px solid rgb(0, 0, 0);
                                        border-radius: 9px;
                                        height: 40px;
                                        width: 70%;
                                        margin-left: 50px;
                                    }
                                    .d {
                                        margin-top: 20px;
                                    }
                                    h4 {
                                        margin-top: 20px;
                                        font-weight: bold;
                                        color: white;
                                    }
                                    .inputmail {
                                        width: 70%;
                                        margin-left: 50px;
                                        color: white;
                                    }
                                    .but {
                                        background-color: #0d0c22;
                                        color: white;
                                        margin-top: 15px;
                                        width: 85%;
                                        height: 50px;
                                        border-radius: 15px;
                                        transition-duration: 0.4s;
                                        cursor: pointer;
                                        margin-left: 70%;
                                    }
                                    button:hover {
                                        background-color: #565564;
                                        color: white;
                                        border: 1px solid #565564;
                                    }
                                    .submitbtn {
                                        background-color: #0d0c22;
                                        color: white;
                                        margin-top: 32px;
                                        width: 33%;
                                        height: 50px;
                                        border-radius: 15px;
                                        transition-duration: 0.4s;
                                        cursor: pointer;
                                        margin-left: 110px;
                                    }
                                }
                                /* Responsive Styles for Medium Screens */
                                
                                @media only screen and (min-width: 768px) and (max-width: 991px) {
                                    .heading {
                                        max-width: 300px;
                                        margin-left: -80px;
                                        font-size: 30px;
                                    }
                                    .inputs,
                                    .inputmail {
                                        width: 95%;
                                        margin-left: -40px;
                                    }
                                    .picc img {
                                        height: auto;
                                        width: 80%;
                                    }
                                    .d {
                                        margin-top: 20px;
                                        margin-left: -100px;
                                    }
                                    h4 {
                                        margin-top: 20px;
                                        font-weight: bold;
                                        color: rgb(0, 0, 0);
                                        margin-left: -100px;
                                    }
                                    .but {
                                        width: 75%;
                                        margin-left: 0%;
                                    }
                                    #vehicle1 {
                                        margin-top: 30px;
                                        margin-left: -80px;
                                        font-size: 18px;
                                        min-width: 380px;
                                    }
                                }